/*******************
Global Styles
*******************/
body {
background-color:#EF5350;
}
/*******************
Form Card Styles
******************/
.card-block {  	
   	color: #424242;
}

label {
	font-family: 'Montserrat', sans-serif;
   	font-weight: 700;
}

input {
	font-family: 'Montserrat', sans-serif;
   	font-weight: 400;	
}
